@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
/* Hide scrollbar - works on most browsers */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }
  
  
  html, body {
    overscroll-behavior: none; /* prevents extra space on scroll top/bottom */
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  